html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

h2,
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

/*
 * Styles for the main containers
 */

#game {
    display: none;
}

#welome{
    padding-top: 50px;
}

.nameButton{
  padding: 10px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #080;
    font-size: 33px;
    animation: shadow-pulse 1s 1;
}

.deck .card.unmatched {
  border: 0 0 0 10px #f00;
	background: #f00;
  animation : transform;
  animation-duration: .75s;
}

.disableClick{
    pointer-events: none;
    opacity:0.9;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 600px;
    margin-bottom: 10px;
}

.score-panel .stars {
    float:left;
    width:30%;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
    width: 20%;
}

.score-panel .restart {
    display: inline-block;
    cursor: pointer;
    width: 20%;
}

.score-panel .welcomeName {
    float: right;
    display: inline-block;
    width: 30%;
}

/*
 *Styles for oveerlay
 */
 #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a9a9a9;
  opacity: 0.9;
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: #000;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#rating li {
	display: inline-block;
}

#play-again {
  background-color: #000;
	display: block;
	margin: 0 auto;
	width: 50%;
	color: #fff;
	border-radius: 5px;
}

/*
 * Styles for animations
 */
 @keyframes shadow-pulse{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes transform {
  from {
      transform: scale3d(1, 1, 1);
    }

    30% {
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      transform: scale3d(.95, 1.05, 1);
    }

    75% {
      transform: scale3d(1.05, .95, 1);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }
}
